<?xml version="1.0" ?>
<launch>
<!--   <arg name="robot_ip" />
  <arg name="load_gripper" default="true" />
  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" default="172.16.0.2" />
    <arg name="load_gripper" default="true" />
  </include>

  <rosparam command="load" file="$(find franka_ros_controllers)/config/ros_controllers.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="cartesian_impedance_controller"/> -->
  
<!--   <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find franka_interface)/launch/rviz/franka_description_with_marker.rviz"/> -->

  <node name="ee_pose_in_world_from_camera" pkg="franka_ros_controllers" type="ee_pose_in_world_from_camera.py" respawn="true"> </node>
  
  <node name="obj_apriltag_pose_in_world_from_camera" pkg="franka_ros_controllers" type="obj_apriltag_pose_in_world_from_camera.py" respawn="true" >
  </node>

  <node name="ft_sensor_in_base_frame" pkg="franka_ros_controllers" type="ft_sensor_in_base_frame.py" respawn="true" >
  </node>

  <node name="ee_pose_in_world_from_franka" pkg="franka_ros_controllers" type="ee_pose_in_world_from_franka.py" respawn="true" >
  </node>
<!--   <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" required="false" /> -->
</launch>
